@import "../../../../src/styles/mixins";
@import "../../../../src/styles/mixins_global";

.container {
  background: #ffffff;
  border: 1px solid;
}

.table {
  display: flex;
  justify-content: space-between;
  border: 1px solid;
}
