@import "../../mixin.scss";

.main_container {
  @include backgroundImage;
}

.login_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #003554;
  margin-top: 4rem;
  padding: 2rem;

  width: 90vh;
}

.logo {
  @include logo;
}

.content_wrapper {
  display: flex;
  flex-direction: column;

  margin: auto;
  width: 50%;
  margin-top: 1rem;
}

h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 12px;
  margin-top: 1rem;
}

.heading {
  color: #858585;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  margin: 0.5rem 0rem;
}

.input_control {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #003554;
}

.email_wrapper,
.password_wrapper {
  background: rgba(205, 239, 255, 0.3);
  border-radius: 4px;
  width: 85%;
  padding: 12px 20px;
  font-style: normal;
  border: 1px solid transparent;
  font-family: serif;
}

.checkbox_wrapper {
  @include checkbox_wrapper;
}

.button_wrapper {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
.forgetbutton {
  @include button;
}

.signin {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  color: #858585;
  cursor: pointer;
}

a {
  color: #898b8b;
}
