@import "../../styles/mixins.scss";
@import "../../styles/variable.scss";

.main_container {
  @include main_container;
}

.background_container {
  @include background_container;
}
.container {
  @include container;
  @media (max-width: $breakpoint-xs) {
    margin: 1.5rem 1rem;
  }
  @media (max-width: $breakpoint-sm) {
    width: 100%;
    height: 100%;
    margin-left: 2rem;
  }
}

.logo {
  @include logo;
  @media (max-width: $breakpoint-xs) {
    margin-top: 8rem;
  }
  @media (max-width: $breakpoint-xSmall) {
    margin-top: 3rem;
  }
}

.eye_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--bs-skyblue);
  border-radius: 8px;
  margin-top: 0.5rem;
  img {
    margin-right: 3rem;
  }
  @media (max-width: $breakpoint-xSmall) {
    padding-right: 1.5rem;
  }
}

h2 {
  color: var(--bs-darkblue);
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;
  @media (max-width: $breakpoint-xs) {
    font-size: 28px;
    line-height: 32px;
    font-family: var(--bs-body-font-family);
    margin-top: 3rem;
  }
}

.heading {
  @include heading;
}

.input_box {
  @include input_box;
}

.email_wrapper {
  @include email_wrapper;
}

.password_wrapper {
  @include password_wrapper;
}

.girlImg_wrapper {
  @include girlImg_wrapper;
  @media (max-width: $breakpoint-xs) {
    display: none;
  }
  @media (max-width: $breakpoint-sm) {
    margin-top: 0;
    img {
      width: 70%;
      height: 70vh;
    }
  }
}

.checkbox_wrapper {
  @include checkbox_wrapper;
}

.forgetbutton {
  @include button_wrapper;
  @media (max-width: $breakpoint-xSmall) {
    padding: 12px 30px;
  }
}

.SignIn_button {
  @include button_wrapper;
  background-color: var(--bs-lightgrey);
}

.SignIn_button {
  @include button_wrapper;
  background-color: var(--bs-lightgrey);
}

.signin {
  @include signin;
}

.signin a {
  color: var(--bs-grey);
  width: -webkit-fill-available;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-right: 3.5rem;
  text-align: center;
  @media (max-width: $breakpoint-xs) {
    margin-right: 0;
  }
  @media (max-width: $breakpoint-sm) {
    margin-right: 1rem;
  }
}

.error {
  @include error;
}

.emailverification_wrapper {
  @include emailverification_wrapper;
}

.blueButton {
  background-color: var(--bs-darkblue);
  color: var(--bs-lightgrey);
}
