@import "../../styles//mixins_variable";

.maincontainer {
  @include backgroundImage;
}

.bgcontainer {
  display: flex;
  justify-content: center;
  align-items: top;
}

.container {
  display: flex;
  color: #003554;
  position: relative;
  flex-direction: column;
  width: 70%;
  justify-content: center;
  margin-left: 8rem;
}

.logo {
  @include logo;
}

.contentwrapper {
  flex-direction: column;
  justify-content: center;
  margin-top: 1rem;
  padding: 0px 160px;
  display: block;
}

h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 5px;
}

.parareset {
  color: #858585;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  font-size: 18.75px;
}

.inputdescription {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #003554;
  margin-top: 0.5rem;
  line-height: 18.75px;
  margin-bottom: 0.5rem;
}

.email {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #003554;
  border-style: none;
}

.emaildesc {
  background: rgba(205, 239, 255, 0.3);
  border-radius: 4px;
  padding: 12px 20px;
  margin-top: 0.5rem;
  font-style: normal;
  border: 1px solid transparent;
  letter-spacing: 5%;
  font-family: "Roboto";
  font-weight: 200;
  font-size: 14px;
  line-height: 18.75px;
  margin-bottom: 0.5rem;
  width: 60%;
}

.passworddesc {
  background: rgba(205, 239, 255, 0.3);
  border-radius: 4px;
  padding: 12px 20px;
  display: flex;
  font-style: normal;
  border: 1px solid transparent;
  letter-spacing: 0.05em;
  font-family: "Roboto";
  font-weight: 200;
  font-size: 14px;
  line-height: 18.75px;
  width: 60%;
}

.girlSection {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  position: relative;
  img {
    height: 520px;
    width: 60%;
    margin-top: 3rem;
    margin-left: 11rem;
  }
  height: 100vh;
  overflow: hidden;
}

.linearBottom {
  position: absolute;
  bottom: -50px;
  right: 0;
  left: -140px;
  img {
    width: 90%;
    height: 70%;
  }
}

.remembercheck {
  @include remembercheck;
}

.buttoncontainer {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.forgetbutton {
  @include button;
}

.signin {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  color: #858585;
  cursor: pointer;
}

a {
  color: #898b8b;
}

// .inputtype {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   position: relative;
// }

.eyepassword {
  height: 20px;
  margin-left: -2.5rem;
}
