@import "../../mixin.scss";

.maincontainer {
  @include backgroundImage;
}

.bgcontainer {
  display: flex;
}

.container {
  color: #003554;
  margin-top: 4rem;
  padding: 2rem;
  width: 55%;
}

.logo {
  @include logo;
}

.contentwrapper {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  margin-left: 6rem;
  padding: 0px 20px;
}

.imggirl {
  @include imggirl;
}

.parareset {
  color: #858585;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  margin-top: 0;
}

.inputdescription {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #003554;
}

.email {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #003554;
  border-style: none;
}

.emaildesc {
  background: rgba(205, 239, 255, 0.3);
  border-radius: 4px;
  width: 45%;
  margin: 5px 0px;
  padding: 12px 20px;
  box-sizing: border-box;
  font-style: normal;
  border: 1px solid transparent;
  font-family: serif;
}

.inputdesc {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #003554;
}

.passworddesc {
  background: rgba(205, 239, 255, 0.3);
  border-radius: 4px;
  width: 45%;
  margin: 0px 0px;
  padding: 12px 20px;
  display: flex;
  box-sizing: border-box;
  font-style: normal;
  border: 1px solid transparent;
  font-family: serif;
}

.remembercheck {
  @include remembercheck;
}

.buttoncontainer {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  position: relative;
  margin-right: 8rem;
}
.forgetbutton {
  @include button;
}

.signin {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  margin-right: 100px;
  color: #858585;
  cursor: pointer;
}

a {
  color: #898b8b;
}
