@import "../../styles/_mixins";
@import "../../styles/_variable";

.maincontainer {
  @include backgroundImage;
}

.bgcontainer {
  @include bgcontainer;
}

.container {
  @include container;
  @media (max-width: $breakpoint-xs) {
    margin-left: 2rem;
  }
  @media (max-width: $breakpoint-sm) {
    width: 95%;
    height: 100%;
    margin-left: 3rem;
  }
}

.logo {
  @include logo;
  @media (max-width: $breakpoint-xs) {
    margin-top: 4rem;
  }
}

.eyewrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--bs-skyblue);
  border-radius: 8px;
  margin-top: 0.5rem;
  img {
    margin-right: 3rem;
  }
  :hover {
    border: 1px solid black;
  }
}

h2 {
  color: var(--bs-darkblue);
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;
  @media (max-width: $breakpoint-xs) {
    font-size: 28px;
    line-height: 32px;
    font-family: var(--bs-body-font-family);
    margin-top: 3rem;
  }
}

.parareset {
  @include parareset;
}

.inputdescription {
  @include inputdescription;
}

.emaildesc {
  @include emaildesc;
}

.passworddesc {
  @include passworddesc;
}

.girlSection {
  @include girlSection;
  @media (max-width: $breakpoint-xs) {
    display: none;
  }
  @media (max-width: $breakpoint-sm) {
    margin-top: 0;
    img {
      width: 70%;
      height: 70vh;
    }
  }
}

.remembercheck {
  @include remembercheck;
}

.forgetbutton {
  @include button;
}

.signin {
  @include signin;
}

a {
  color: var(--bs-grey);
  width: -webkit-fill-available;
  text-align: center;
  display: flex;
  justify-content: center;
}

.error {
  @include error;
}
