@import "../auth.module.scss";
@import "../../../styles/mixins.scss";

.background_container{
    @media (max-width: $breakpoint-xSmall) {
        width: 88%;
        margin-left: 1rem;
    }
}

.container {
    @media (max-width: $breakpoint-sm) {
        margin-top: 3rem;
    }

    @media (max-width: $breakpoint-xSmall) {
        margin-left: 2rem;
        margin-top: 1rem;
    }
}

.logo {
    @media (max-width: $breakpoint-xSmall) {
        margin-top: 1rem;
    }
}