@import "../auth.module.scss";
@import "../../../styles/mixins.scss";

.container {
    @media (max-width: $breakpoint-sm) {
        margin: 0rem 2rem;
    }

    @media (max-width: $breakpoint-xSmall) {
        margin-left: 4rem;
    }
}

.logo {
    @media (max-width: $breakpoint-xSmall) {
        margin-top: 1rem;
    }
}

.heading {
    margin: 1rem 0rem;
}