@import "../auth.module.scss";
@import "../../../styles/mixins.scss";

.container {
    @media (max-width: $breakpoint-sm) {
        margin: 0rem 4rem;
        margin-top: 3rem;
    }

    @media (max-width: $breakpoint-xSmall) {
        margin-left: 6rem;
        margin-top: 2rem;
    }
}

.logo {
    @media (max-width: $breakpoint-xSmall) {
        margin-top: 1rem;
    }
}

.heading {
    margin: 1rem 0rem;
}

.forgetbutton{
    margin-top: 0.5rem;
}