@import "../auth.module.scss";
@import "../../../styles/variable.scss";

.clBtn_wrapper {
    @include clBtn_wrapper;
}

.heading_wrapper {
    @include heading_wrapper;
}

.logo {
    @include logo_wrapper;
}

.signin {
    @include signin_wrapper;
}

.forgetbutton {
    @include forgetbutton_wrapper;
}

.mail_success {
    background-image: url("../../../../public/assets/MailVerified.svg");
    animation-name: bounceImage;
    animation-duration: 2s;
    background-repeat: no-repeat;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    background-size: contain;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

    img {
        width: 100%;
        height: auto;
        margin: 3rem 0rem;
    }
}