/* Set up breakpoints */
$breakpoint-xs: 480px;
$breakpoint-sm: 768px;
$breakpoint-md: 992px;
$breakpoint-lg: 1200px;

/* Define mixins */
@mixin backgroundImage {
  background-image: url("../../public/assets/bgimage-TG.svg");
  background-size: cover;
  height: auto;
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
}

@mixin button {
  background: #003554;
  border-radius: 8px;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 0.05em;
  padding: 12px 100px;
  box-shadow: none;
  cursor: pointer;
  border: 1px solid transparent;
}

@mixin remembercheck {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #858585;
  margin-top: 0.5rem;
}

@mixin logo {
  display: flex;
  margin-top: 2rem;
  margin-bottom: 2rem;
  justify-content: center;
  align-items: center;
}
