@mixin main_container {
  background-image: url("../../public/assets/backgroundimage.svg");
  height: auto;
  width: auto;
  height: 99.2vh;
  background-repeat: no-repeat;
  overflow: hidden;
  background-size: cover;
}

@mixin logo {
  display: flex;
  margin-top: 2.5rem;
  margin-bottom: 1.5rem;
  justify-content: center;
}

@mixin container {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 80vw;
  justify-content: center;
  margin-left: 8rem;
}

@mixin background_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin heading {
  color: var(--bs-grey);
  font-weight: var(--bs-body-font-weight);
  font-size: var(--bs-body-font-size);
  margin: 1.5rem 0rem;
}

@mixin input_box {
  font-style: var(--bs-font-style);
  font-weight: var(--bs-body-font-weight);
  font-size: var(--bs-body-font-size);
  color: var(--bs-darkblue);
  margin-bottom: 1rem;
  width: 85%;

  @media (max-width: $breakpoint-sm) {
    width: 100%;
  }

  @media (max-width: $breakpoint-xSmall) {
    width: 90%;
  }
}

@mixin email_wrapper {
  background: var(--bs-skyblue);
  border-radius: var(--bs-border-radius);
  padding: 12px 20px;
  margin-top: 0.25rem;
  font-style: var(--bs-font-style);
  border: 1px solid transparent;
  font-weight: var(--bs-body-font-weight);
  font-size: var(--bs-body-font-size);
  border-style: none;
  width: -webkit-fill-available;
  border: none;
  outline: none;
}

@mixin password_wrapper {
  @include email_wrapper;
}

@mixin button_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background: var(--bs-darkblue);
  border-radius: var(--bs-border-radius);
  color: var(--bs-white);
  font-size: var(--bs-font-size);
  letter-spacing: 0.05em;
  padding: 12px 40px;
  box-shadow: none;
  cursor: var(--bs-cursor);
  border: 1px solid transparent;
  width: 85%;
  margin-top: 2rem;

  @media (max-width: $breakpoint-sm) {
    width: 100%;
  }

  @media (max-width: $breakpoint-xSmall) {
    width: 90%;
  }

  @media (max-width: $breakpoint-xs) {
    width: 90%;
  }
}

@mixin checkbox_wrapper {
  font-style: var(--bs-font-style);
  font-weight: var(--bs-body-font-weight);
  font-size: var(--bs-font-size);
  line-height: var(--bs-line-height);
  color: var(--bs-grey);
  margin-top: 1.5rem;
  position: relative;
}

@mixin signin {
  margin-top: 6rem;
  color: var(--bs-grey);
  cursor: pointer;
  font-style: var(--bs-font-style);
  font-size: var(--bs-font-size);
  line-height: var(--bs-line-height);
  font-weight: var(--bs-body-font-weight);
  text-decoration-line: underline;
}

@mixin girlImg_wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  position: relative;

  img {
    height: 610px;
    width: 400px;
    margin-top: 3rem;
    margin-left: 3rem;
  }

  overflow: hidden;

  @media (max-width: $breakpoint-xSmall) {
    display: none;
  }

  @media (max-width: $breakpoint-ms) {
    img {
      height: 500px;
      width: 430px;
      margin-top: 3rem;
      margin-left: 3rem;
    }
  }
}

@mixin error {
  color: var(--bs-red);

  p {
    white-space: initial;
  }
}

@mixin emailverification_wrapper {
  border: 4px solid;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

@mixin mailsent_logo {
  width: 235px;
  height: 130px;
  margin: 2.5rem 0rem;
  background-image: url("../../../public/assets/letterBox.png");
  background-size: cover;
  animation-delay: 0.2s;
  animation-fill-mode: forwards;
  animation-name: bounceImages;
  animation-duration: 0.2s;
  animation-iteration-count: infinite;
}

@mixin heading_wrapper {
  text-align: center;
  margin-bottom: 0.5rem;
}

@mixin logo_wrapper {
  text-align: center;
  align-items: center;
  margin-right: 0;
}

@mixin signin_wrapper {
  margin-top: 2rem;
  text-align: center;

  a {
    margin-right: 0;
    margin-bottom: 2rem;
  }

  span {
    color: #858585;
  }
}

@mixin forgetbutton_wrapper {
  width: 92%;
  margin: 1rem;
}

@mixin emailverification_wrapper {
  border: 4px solid;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

@mixin mailsent_logo {
  width: 235px;
  height: 130px;
  margin: 2.5rem 0rem;
  background-image: url("../../../public/assets/letterBox.png");
  background-size: cover;
  animation-delay: 0.2s;
  animation-fill-mode: forwards;
  animation-name: bounceImages;
  animation-duration: 0.2s;
  animation-iteration-count: infinite;
}