@import "../../styles/mixins";
@import "../../styles/variable";

.sidebar_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 92vh;
  padding: 2rem;
  box-shadow: 2px 3px 8px rgba(0, 148, 218, 0.25);
  overflow: hidden;
  background-color: rgba(205, 239, 255, 0.6);
  margin-top: -60px;
}

.wide_sidebar {
  width: 120px;
}

.shrunk_sidebar {
  width: 30px;
}

.side_logo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 2rem;
}

.content_wrapper {
  margin-top: 2rem;
}

.menu_container {
  height: 100%;
}

.logout {
  color: #003554;
  cursor: pointer;
}

.logout img {
  margin-right: 1rem;
}

.toggleSideBar {
  position: absolute;
  margin-left: 12rem;
}