@import "../Loginreset/auth.module.scss";
@import "../../../styles/mixins.scss";

.container {
  margin: 0;
}

.main_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}