@mixin backgroundImage {
  background-image: url("../public/assets/backgroundimage.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: top;
  height: 100vh;
  display: flex;
}

@mixin button {
  background: #0094da;
  border-radius: 8px;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 0.05em;
  padding: 12px 30px;
  box-shadow: none;
  cursor: pointer;
  border: 1px solid transparent;
}

@mixin checkbox_wrapper {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #858585;
  margin-top: 2rem;
}

@mixin logo {
  display: flex;
  margin-top: 2rem;
  justify-content: center;
  align-items: center;
}

@mixin password {
  background: rgba(205, 239, 255, 0.1);
  border-radius: 4px;
  width: 85%;
  margin: 5px 0px;
  padding: 12px 20px;
  display: flex;
  box-sizing: border-box;
  font-style: normal;
  border: 1px solid transparent;
  font-family: serif;
}
