@mixin backgroundImage {
  background-image: url(".././src/Images/bgImage.svg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

@mixin button {
  background: #0094da;
  border-radius: 8px;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 0.05em;
  padding: 12px 30px;
  box-shadow: none;
  cursor: pointer;
  border: 1px solid transparent;
}

@mixin remembercheck {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #858585;
  margin-top: 0.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

@mixin logo {
  display: flex;

  margin-top: 2rem;
  justify-content: center;
  align-items: center;
}

@mixin passworddesc {
  background: rgba(205, 239, 255, 0.3);
  border-radius: 4px;
  width: 82%;
  padding: 12px 20px;
  display: flex;
  font-style: normal;
  border: 1px solid transparent;
  font-family: serif;
  letter-spacing: 0.05em;
  font-family: "Open Sans";
  font-weight: 200;
  font-size: 14px;
  line-height: 14px;

  // margin-top: 0.5rem;
}
